/*======================================
//--//-->   ABOUT
======================================*/
body{
    overflow-x: hidden !important;
}
html{
    overflow-x: hidden !important;

}
.about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.about-mf .about-img {
    margin-bottom: 2rem;
}

.about-mf .about-img img {
    margin-left: 10px;
}


.skill-mf .progress {
    /* background-color: #cde1f8; */
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
}

.skill-mf .progress .progress-bar {
    height: .7rem;
    background-color: #ffbd39;
}

.visibility{
    visibility: hidden;
}

/* .z-index{
    z-index: 5000 !important;
    visibility: visible !important;
    opacity: 10 !important;
} */
@media (max-width:575px) {
    .margin-left{
    margin-left: 20px;
    }
    .center{
        text-align: center;
        margin: 0 auto !important;
    }
    .about-img{
width: 50%;
text-align: center !important;
margin: 0 auto;
margin-bottom: 10px;
    }
    
}
.information {
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding-left: 30px !important; */
}
@media (max-width:768px) {
    .information {
        display: flex ;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 30px !important;
    }
}

/* Animation styles */
#typing-animation {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(20, end) infinite;
}

#typing-animation:before {
    content: "";
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
    animation: typing-cursor 0.5s ease-in-out infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes typing-cursor {
    from {
        width: 5px;
    }

    to {
        width: 0;
    }
}


/* project image zoom effect */

.zoom-effect {
    overflow: hidden;
    transition: transform 0.3s ease-out;
}

.zoom-effect:hover {
    transform: scale(1.1);
}